[Unit]
Description=Infinote
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/share/infinote/platform/config/
ExecStart=/usr/share/infinote/platform/bin/server
Restart=always

[Install]
WantedBy=multi-user.target%     